./LinkedList/circularLinkedList.exe
./LinkedList/circularLinkedList.o
./LinkedList/doublyLinkedList.exe
./LinkedList/doublyLinkedList.o
./LinkedList/singlyLinkedList.exe
./LinkedList/singlyLinkedList.o

./Queue/circularQueue.exe
./Queue/circularQueue.o
./Queue/queueQueue.exe
./Queue/queueQueue.o
./Queue/queueLinkedList.exe
./Queue/queueLinkedList.o

./Stack/stack.exe
./Stack/stack.o
./Stack/stackLinkedList.exe
./Stack/stackLinkedList.o

./Tree/BinaryTreeCreate.exe
./Tree/BinaryTreeCreate.o